<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "form" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form__field">
    <%= f.label :email, class: "form__label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form__input" %>
  </div>

  <div class="form__actions">
    <%= f.submit "Resend confirmation instructions", class: "button button--full-width" %>
  </div>
<% end %>

<div class="form__links">
  <%= render "devise/shared/links" %>
</div>
