<%= form_with model: @recipe do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :servings %>
    <%= f.text_field :servings %>
  </div>
  <div class="form-group">
    <%= f.label(:time, "Time (in minutes)") %>
    <%= f.text_field :time %>
  </div>
  <div class="form-group">
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div>
  <div class="form-group">
    <%= f.label :method %>
    <%= f.text_area :method %>
  </div>
  <div class="form-group">
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>
  <div class="form-group">
    <%= f.hidden_field :photo_cache %>
  </div>
  <div class="form-group">
    <%= f.label(:link_to_photo, "Link to original photo") %>
    <%= f.text_field :link_to_photo %>
  </div>
  <div class="form-group">
    <%= f.label(:link_to_photo, "Link to original recipe") %>
    <%= f.text_field :link %>
  </div>
  <%= f.submit class: "button button--form" %>
<% end %>
