<div class="recipe">
  <div class="recipe__image">
    <%= photo_for(@recipe) %>
  </div>
  <div class="recipe__content">
    <div class="recipe__intro">
      <div class="recipe__header-wrap">
        <h1><%= @recipe.name %></h1>
        <%= link_to @recipe.link, class: "recipe__icon" do %>
          <i class="fas fa-thumbtack"></i>
        <% end %>
        <% if current_user %>
          <% if policy(@recipe).edit? %>
            <%= link_to edit_recipe_path(@recipe), class: "recipe__icon recipe__icon--pencil" do %>
              <i class="fas fa-pen"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="recipe__details">
      <span>Serves: <%= @recipe.servings %></span>
      <span class="recipe__spacer">//</span>
      <span>Cooking Time: <%= @recipe.time %> mins</span>
    </div>
    <div class="recipe__ingredients">
      <div class="recipe__header-wrap">
        <h2>Ingredients</h2>
        <% if current_user %>
          <% if policy(@recipe).edit? %>
            <%= link_to new_recipe_measure_path(@recipe), class: "recipe__icon recipe__icon--pencil" do %>
              <i class="fas fa-pen"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <%= render "shared/measures", measures: @recipe.measures %>
    </div>
  </div>
  <div class="recipe__method">
    <h2>Method</h2>
    <p><%= markdown(@recipe.method) %></p>
  </div>
</div>
