<div class="recipe">
  <div class="recipe__intro-wrap">
    <%= cl_image_tag @recipe.photo, class: "recipe__image" %>
    <%# image_tag @recipe.photo_url, class: "recipe__image" %>
    <div class="recipe__intro">
      <div class="recipe__header">
        <h1 class="recipe__name"><%= @recipe.name %></h1>
        <%= link_to @recipe.link, class: "recipe__link" do %>
          <i class="fas fa-thumbtack"></i>
        <% end %>
        <%= link_to edit_recipe_path(@recipe), class: "recipe__edit" do %>
          <i class="fas fa-pen"></i>
        <% end %>
      </div>
      <div class="recipe__details">
        <span class="recipe__yield">Serves: <%= @recipe.servings %></span>
        <span class="recipe__spacer">//</span>
        <span class="recipe__time">Cooking Time: <%= @recipe.time %> mins</span>
      </div>
      <div class="recipe__ingredients">
        <div class="recipe__header">
          <h2>Ingredients</h2>
          <%= link_to new_recipe_measure_path(@recipe), class: "recipe__edit" do %>
            <i class="fas fa-pen"></i>
          <% end %>
        </div>
        <ul class="recipe__list">
          <% @recipe.measures.each do |measure| %>
            <li class="recipe__item">
              <%= measure.amount %>
              <%= measure.unit %>
              <%= measure.ingredient.name %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="recipe__directions">
    <h2>Method</h2>
    <p><%= markdown(@recipe.method) %></p>
  </div>
</div>
