<div class="container">
  <div class="recipe">
    <img class="recipe__image" src="https://www.eat-this.org/wp-content/uploads/2017/08/Good-Life-Poke-Bowl-5-800x1200.jpg">
    <!--<img class="recipe__image" src="<%= @recipe.photo_url %>">-->
    <div class="recipe__content">
      <div class="recipe__header">
        <h1 class="recipe__name"><%= @recipe.name %></h1>
        <span class="recipe__yield">Serves: <%= @recipe.servings %> // </span>
        <span class="recipe__time">Cooking Time: <%= @recipe.time %> // </span>
        <%= link_to @recipe.category.capitalize, "#", class: "recipe__category" %>
      </div>
      <div class="recipe__ingredients">
        <h3>Ingredients</h3>
      </div>
      <div class="recipe__directions">
        <h3>Method</h3>
        <p><%= @recipe.method %></p>
      </div>
      <%= link_to "Original recipe", @recipe.link, class: "recipe__link" %>
      <%= link_to "Edit", edit_recipe_path(@recipe), class: "recipe__edit" %>
    </div>
  </div>
</div>
