<div class="recipe">
  <div class="recipe__intro-wrap">
    <%= image_tag @recipe.photo_url, class: "recipe__image" %>
    <div class="recipe__intro">
      <div class="recipe__header">
        <h1 class="recipe__name"><%= @recipe.name %></h1>
        <%= link_to @recipe.link, class: "recipe__link" do %>
          <i class="fas fa-thumbtack"></i>
        <% end %>
        <%= link_to edit_recipe_path(@recipe), class: "recipe__edit" do %>
          <i class="fas fa-pen"></i>
        <% end %>
      </div>
      <div class="recipe__details">
        <span class="recipe__yield">Serves: <%= @recipe.servings %></span>
        <span class="recipe__spacer">//</span>
        <span class="recipe__time">Cooking Time: <%= @recipe.time %></span>
        <span class="recipe__spacer">//</span>
        <%= link_to @recipe.category.capitalize, "#", class: "recipe__category" %>
      </div>
      <div class="recipe__ingredients">
        <h3>Ingredients</h3>
        <ul class="recipe__list">
          <% @recipe.measures.each do |measure| %>
            <li class="recipe__item">
              <%= measure.amount %>
              <%= measure.unit %>
              <%= measure.ingredient.name %>
              <%= link_to measure_path(measure), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="fa fa-trash recipe__trash-icon"></i>
              <% end %>
            </li>
          <% end %>
        </ul>
        <h3>Add Ingredient</h3>
        <div class="recipe-form">
          <%= render "measures/new" %>
        </div>
      </div>
    </div>
  </div>
  <div class="recipe__directions">
    <h3>Method</h3>
    <p><%= markdown(@recipe.method) %></p>
  </div>
</div>
