<nav class="site-nav">
  <%= link_to "Lozzy's Brunches", root_path, class: "site-nav__title" %>
  <a href="#" id="js-light-dark-mode" class="light-mode" data-light="<%= image_path 'bg_light_side.jpg' %>" data-dark="<%= image_path 'bg_dark_side.jpg' %>">
    <%= image_tag "darth_vader.svg", id: "js-light-dark-icon", class: "site-nav__forces", data: { yoda: image_path("yoda.svg"), vader: image_path("darth_vader.svg") } %>
  </a>
  <% unless user_signed_in? %>
    <%= link_to "SIGN IN", new_user_session_path %>
  <% end %>
  <% if current_user %>
    <% if policy(Recipe).create? %>
      <%= link_to "+recipe", new_recipe_path %>
    <% end %>
  <% end %>
</nav>
