<%= form_with(model: [@recipe, @measure]) do |f| %>
  <div class="field">
    <%= f.label :amount %>
    <%= f.number_field :amount, step: :any %>
  </div>

  <div class="field">
    <%= f.label :unit %>
    <%= f.text_field :unit %>
  </div>

  <div class="field">
    <%= f.collection_select :ingredient_id, Ingredient.all.alphabetize, :id, :name, prompt: true %>
  </div>

  <div class="actions">
    <%= f.submit "Add Measure", class: "button button--form" %>
  </div>
<% end %>
