<%= form_with(model: [@recipe, @measure], local: true) do |f| %>
  <div class="field">
    <%= f.label :amount %>
    <%= f.number_field :amount, step: :any %>
  </div>

  <div class="field">
    <%= f.label :unit %>
    <%= f.text_field :unit %>
  </div>

  <div class="field">
    <%= f.label :ingredient_id %>
    <%= f.collection_select :ingredient_id, Ingredient.all.alphabetize, :id, :name, { prompt: true }, { class: "select2" } %>
  </div>

  <div class="actions">
    <%= f.submit "Add Measure", class: "button button--form" %>
  </div>
<% end %>
