<h1>Edit measures for <%= link_to @recipe.name, recipe_path(@recipe) %></h1>
<ul class="recipe__list spacer-xs">
  <% @recipe.measures.each do |measure| %>
    <li class="recipe__item">
      <%= link_to measure_path(measure), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fas fa-times icon-delete"></i>
      <% end %>
      <%= measure.amount == measure.amount.to_i ? measure.amount.to_i : measure.amount %>
      <%= measure.unit %>
      <%= measure.ingredient.name %>
    </li>
  <% end %>
</ul>
<hr/>
<h2>Add Measure</h2>
<div class="recipe-form spacer-xs">
  <%= render "form" %>
</div>
<hr/>
<div class="recipe-ingredient">
  <p>Can't find the ingredient you're looking for? Add it here:</p>
  <%= render "ingredients/new" %>
</div>
<hr/>
<%= link_to "Done", recipe_path(@recipe), class: "recipe-form__done" %>
