<!DOCTYPE html>
<html>
  <head>
    <title>Lozzy's Brunches</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag "https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/198/avocado_1f951.png" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_pack_tag "application" %>
  </head>
  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <div class="content">
      <%= yield %>
    </div>
    <% if user_signed_in? %>
      <%= render "shared/footer" %>
    <% end %>
    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag "application" %>
  </body>
</html>
